
.pageContent {
    display: flex;
    flex-direction: row; 
}

td, th {
  max-width: 200px;
  font-size: 1em;
}

th {
  background-color: rgb(238, 238, 238);
}

.action_button {
  margin: 0 1%
}

.action_buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  padding: 10% 0;
}

.fired_str {
  color: red;
  font-weight: bold;
}

.v-btn__content {
  font-size: .7em;
}

