
.pageContent {
    display: flex;
    flex-direction: row; 
}

td, th {
  max-width: 200px;
  font-size: 1em;
}

th {
  background-color: rgb(238, 238, 238);
}

.action_button {
  margin: 0 1%
}

.action_buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  padding: 10% 0;
}

.fired_str {
  color: red;
  font-weight: bold;
}

.v-btn__content {
  font-size: .7em;
}

.table_col:hover{
  background-color: rgb(212, 212, 212);
}

.sorted_asc {
  background-color: rgb(210, 255, 240);
  &:after {
    content: " ↑";
  }
  &:hover {
    background-color: rgb(133, 255, 214);
  }
}

.sorted_desc {
  background-color: rgb(255, 210, 210);
  &:after {
    content: " ↓";
  }
  &:hover {
    background-color: rgb(255, 152, 152);
  }
}

